@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-purple: 101 17 234;
    --color-foreground: 0 0 0;

    --color-bg-gradient-start: 255 255 255;
    --color-bg-gradient-end: 230 230 230;
}

.dark {
    --color-purple: 162 104 255;
    --color-foreground: 255 255 255;

    --color-bg-gradient-start: 26 0 51;
    --color-bg-gradient-end: 13 0 26;
}

body {
    color: rgb(var(--color-foreground));
}

a {
    @apply transition-colors;
}

.prose a {
    @apply font-medium text-foreground underline hover:text-purple;
}
